<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
</head>

<body>

{{#block "header" }}
    {{>header}}
{{/block}}

{{#block "content" }}
{{/block}}

{{#block "footer" }}
    {{>footer}}
{{/block}}

</body>

</html>